body{
    margin:0;
}

header{
    background:#03a9fa;
    color: rgb(158, 141, 141);
    font-family: Anton;
    text-align: center;
    font-size: 40px;
}

.logo {
    color: rgb(158, 141, 141);
    font-family: Anton;
    text-align: center;
    font-size: 40px;
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}

.news_item{
    padding:25px;
    box-sizing : 20px;
    border-bottom : 1px solid gray;


}